# Configuración de NutrIAssist
DirectoryIndex index.php

# Prevenir el listado de directorios
Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ http://localhost/nutriassist/$1/ [L,R=301]
